@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css");
@import url("https://cdn.jsdelivr.net/npm/css.gg/icons/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
